* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Wix Madefor Text', sans-serif;
}


body {
    /* border: 5px dashed green; */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    width: 50%;
    max-width: 50%;
    height: 50%;
    max-height: 50%;
    background: #0e0e0f;
}


.logo {
    /* border: 2px dashed gold; */
    font-size: 3rem;
    font-weight: 700;
    color: #d3d3d5;
}


.navbar {
    /* border: 2px dashed white; */
    padding-top: 4rem;
}
.navbar a {
    /* border: 2px dashed white; */
    /* background-color: blue; */
    font-size: 1.854rem;
    font-weight: 100;
    color: #3b3b3e;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transition: 1.2s;
    margin-left: 100%;
}

.navbar a.active, a:hover {
    color: #d3d3d5;
}


.quote {
    /* border: 1px solid blue; */
    font-size: 1.146rem;
    font-weight: 100;
    color: #3b3b3e;
    display: flex;
    margin-right: 20%;
    transform: translate(0%, 300%);
}



.home {
    /* border: 2px dashed pink; */
    display: flex;
    /* justify-content: center; */
    transform: translate(0%, -76%);
    margin-right: 20%;
}

.home-content {
    filter: saturate(0%) brightness(115%)
    contrast(110%) opacity(40%);
}

/* .home-content img:hover{

} */





/*  Keyframes Animation */
