* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Wix Madefor Text', sans-serif;
    text-decoration: none;
    background-color: #0e0e0f;
}

body {
    /* border: 2px solid green; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
}

.main_container {
    /* border: 5px solid rgb(0, 149, 255); */
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    gap: 10px;
    height: 50rem;
}

.left_container {
    /* border: 5px solid rgb(71, 216, 71); */
    /* background-color: rgb(71, 216, 71); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: -14%;
}

.right_container {
    /* border: 5px solid rgb(215, 146, 18); */
    /* background-color: rgb(215, 146, 18); */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mid_container {
    /* border: 5px solid rgb(18, 25, 215); */
    /* background-color: rgb(18, 25, 215); */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 8%;
    padding-top: 22.3%;
}


/* LEFT CONTAINER STUFF */
.logo a {
    text-decoration: none;
    color: #d3d3d5;
    font-size: 3rem;
    font-weight: 700;
}

.content {
    /* border: 1px solid #d3d3d5; */
    /* background-color: aqua; */
    height: 50%;
    display: flex;
    border-radius: 10px;
}

.content img {
    /* border: 2px solid rgb(70, 114, 201); */
    filter: saturate(0%) brightness(115%) contrast(110%) opacity(40%);
    object-fit: contain;
    border-radius: 10px 10px 100px 10px;
}

.quote h1 {
    /* border: 2px solid hotpink; */
    color: #3b3b3e;
    font-size: 1.146rem;
    font-weight: 100;
}


/* RIGHT CONTAINER STUFF */
.nav-items {
    /* border: 2px solid blue; */
    /* change to column format, set same space between each item */
    display: flex;
    flex-direction: column;
}

.nav-items a {
    /* border: 2px solid yellow; */
    text-decoration: none;
    text-align: right;
    font-size: 1.854rem;
    font-weight: 100;
    color: #3b3b3e;
    transition: color 1.3s ease;
}

.nav-items a:hover {
    color: #d3d3d5;
}

a.active {
    color: #d3d3d5;
}


/* MID CONTAINER STUFF */
.text {
    color: #d3d3d5;
    font-size: .8rem;
}