body {
    font-family: 'Wix Madefor Text', sans-serif;
    background-color: #0e0e0f;
    /* border: 1px dashed orange; */
    position: absolute;
    width: 45%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #d4d4d5;
    /* border: 1px solid hotpink; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

h2 {
    font-size: 1.854rem;
    font-weight: 100;
    color: #d4d4d5;
    /* border: 1px solid cyan; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

h3 {
    font-size: 1.146rem;
    font-weight: 100;
    color: #5b5b5b;
    /* border: 1px solid blue; */
    display: flex;
    transform: translate(0%, -152%);
    flex-direction: column;
    align-items: flex-start;
}